<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ansible Deployed Tomcat</title>
  <meta name="description" content="Ansible Created Content">
  <meta name="ian.wright@mainline.com" content="Ansible">

</head>

<body>
    <h1>Deployment confirmed - Welcome to Tomcat on "{{ ansible_host }}"</h1>
</body>
</html>
